:root {
    --primary-color: #91BBEE;
    --secondary-color: #1F2EC1;
    --accent-color: #EF502C;

    --text-color: #ffffff;
    --background-color: #b8312ad1;
    --heading-font: sans-serif Arial;
    --body-font: Roboto;
    --max-width: 1200px;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

h1, h2 {
    color: var(--primary-color);
    font-family: var(--heading-font);
    margin-bottom: 10px;
}

p {
    color: var(--text-color);
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
}

.social-media a {
    text-decoration: none;
}

.container {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.hero {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.hero article {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    color: white;
    z-index: 2;
}

.hero article img {
    float: right;
    margin-left: 20px;
    width: 150px;
    height: auto;
    border-radius: 10px;
}
